html, body {
    position: relative;
    height: 100%;
}
body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color:#000;
    margin: 0;
    padding: 0;
}
.arrow {
    background: url(../img/arrow2.png) no-repeat;
    background-size: cover;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 10;
    width: 50px;
    height: 50px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
.index>img, .index>a {
    position: absolute;
}
img.index_l_t {
    top: 102px;
    left: 102px;
}
img.index_r_t {
    top: 102px;
    right: 260px;
}
img.plus {
    top: 45px;
    right: 20px;
}
img.left_title {
    top: 232px;
    left: 0;
}
img.right_title {
    top: 130px;
    right: 95px;
}
img.index_nav {
    top: 280px;
    right: 20px;
    cursor: pointer;
}
.index_menu img {
    display: block;
    margin-top: 22px;
}
.index_menu {
    position: absolute;
    top: 405px;
    left: 102px;
}
.index_menu a {
    cursor: pointer;
}
.index_intro {
    top: 430px;
    right: 150px;
}
.weibo {
    top: 580px;
    right: 190px;
    cursor: pointer;
}
.weibo_b {
    top: 650px;
    right: 190px;
    cursor: pointer;
}
/* debut */
.debut img {
    position: absolute;
}
.debut_l_t {
    left: 102px;
    top: 306px;
}
.debut_nav {
    top: 288px;
    right: 28px;
}
.debut_point {
    top: 365px;
    right: 38px;
}
.b50 img {
    position: absolute;
}
.b50_text {
    top: 196px;
    right: 100px;
}
.b100 img {
    position: absolute;
}
.b100_text {
    top: 196px;
    left: 102px;
}
.four img {
    position: absolute;
}
.swiper-pagination-bullet {
    border: white solid 1px;
    width: 13px;
    height: 13px;
}
.swiper-container-vertical>.swiper-pagination-bullets {
    top: 60%;
    right: 40px;
}
.nav_menu {
    color: white;
    position: absolute;
    top: 40%;
    right: 28px;
    z-index: 10;
    background: url(../img/index/navigation.png) no-repeat;
    width: 43px;
    height: 70px;
}
.nav_menu_mile {
    color: white;
    position: absolute;
    top: 40%;
    right: 28px;
    z-index: 10;
    background: url(../img/b50/navigation.png) no-repeat;
    width: 43px;
    height: 70px;
}